body{
  background-color: lightgreen;
  background-image: url(images/books-library.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#search{
  border: 2px solid rgb(255, 255, 255);
  height: 90vh;
  margin-top: 20px;
  border-radius: 10px;

}
#book-result{
  border: 2px solid rgb(255, 255, 255);
  height: 90vh;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-top: 20px;
  border-radius: 10px;
}